*{
    padding: 0;
    margin: 0%;
}
.banner{
    height: 410px;
    width: 100%;
    background-image: url('./banner.jpeg');
}

.cover {
    background-color: black;
    height: 100%;
    background-color: hsl(0, 0%, 0%, 0.5);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cover > h1 {
    color:white;
    font-size: 3rem;
    margin-bottom: 50px;
}

.cover > button {
    width: 150px;
    height: 46px;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    color: white;
    background-color: #4c8930;
    align-self: center;
}


@media screen and (max-width:800px){

    .banner{
        height: 200px;
    }

    .cover > h1 {
        color:white;
        font-size: 1.5rem;
        margin-bottom: 50px;
    }
    .cover > button {
        width: 80px;
        height: 20px;
        border: none;
        border-radius: 5px;
        font-size: 12px;
    }
}